*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.box{
    border: 1px solid black;
    display: inline-block;
    padding: 20px 20px;
    margin-left: 35%;
    border-radius: 10px;
    /* box-shadow: 3px 3px 4px solid rgb(225, 13, 13); */
}

.box h1{
    font-size: 2.2rem;
    display: block;
    bottom: 50px;
}
.box label{

    font-family: sans-serif;
    font-size: small;
    
}
.box input{
    padding: 5px 20px;
}